.addpackage-container {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.addpackage-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.addpackage-input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.addpackage-input-file {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
}

.addpackage-submit-button {
  padding: 12px;
  margin-left: 0;
  width: 100%;
}

.add-package-form-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.addpackage-image-preview-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  height: 300px;
  position: relative;
}

.addpackage-image-preview {
  width: 100%;
  object-fit: cover;
}

.add-package-image>.input {
  display: none;
}
.add-package-image>button{
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -50px;
  right: 10px;
}
.add-package-input-container{
  display: grid;
  grid-template-columns:50% 50%;
  row-gap: 20px;
  column-gap: 80px;
  width: 100%;
}
.add-package-input{
  /* background-color: yellow; */
  width: 50%;
}
.add-package-input-field{
  display: flex;
  flex-direction: column;

}
.add-package-input-field>.input{
  height: 40px;
  width: 85%;
  padding-left: 35px;
}
.add-package-submit-button{
 margin-top: 15px;
}