.header-container{
    position: sticky;
    top: 0px;
    height: 50px;
    z-index: 10;
    background-color: rgb(98, 160, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo-container{
    display: flex;
    margin-left: 35px;
    cursor: pointer;
}
.header-logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0px;
}
.header-logo-2{
    color: #fff;
}
.search-bar-container{
    position: relative;
}
.search-bar-container>svg{
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 3px;
}
.search-bar-container>input{
    height: 30px;
    padding-left: 30px;
    border-radius: 5px;
    border: none;
    width: 230px;
}
.search-bar-container>input:focus{
    outline: none;
    border-color: #545a5c;
    box-shadow: 0 0 5px rgba(4, 5, 5, 0.5);
}
.header-user-profile-icon{
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
.header-user-container {
    position: relative;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    z-index: 10;
  }
  
  .profile-dropdown p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .header-profile:hover {
    background-color: #f0f0f0;
  }
  .header-logout:hover{
    background-color: rgba(255, 54, 54, 0.836);
    color: #fff;
  }
  .header-mybookings:hover{
    background-color: #45abd2;
  }
  .header-navigation-page-container{
    display: flex;
    color: #fff;
    column-gap: 30px;
  }
  .header-navigation-page-container>p{
    cursor: pointer;
  }
  .header-user-name-container{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .header-user-name{
    color: #fff;
  }
  .header-auth-contanier{
    display: flex;
    column-gap: 15px;

  }
  .header-auth{
    color: #fff;
    cursor: pointer;
  }